# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Arturo\Descargas\spring-security-5-demo-starter\spring-security-demo-starter\spring-security-demo-01-base-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
